@using Basilisk.ViewModel.Customer;
@model List<GridCustomerViewModel>;


<link rel="stylesheet" href="~/css/styleFolder.css" asp-append-version="true" />

@*<form method="get" asp-controller="ProdSupCat" asp-action="Index">
    <div class="field-row">
        <label for="searchName">Product Name</label>
        <input id="searchName" type="text" name="searchName" value=@Model.SearchName>
    </div>
    <div class="field-row">
        <label for="searchCategory">Category</label>
        <input id="searchCategory" type="text" name="searchCategory" value=@Model.SearchCategory>
    </div>
    <div class="field-row">
        <label for="searchSupplier">Supplier</label>
        <input id="searchSupplier" type="text" name="searchSupplier" value=@Model.SearchSuppllier>
    </div>
    <button type="submit" class="btn btn-search">Search</button>
</form>
*@
<a type="button" class="btn btn-search" asp-action="Add">Add</a>
<table>
    <thead>
        <tr>
            <th>Action</th>
            <th>Id</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Total Product</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-detail" asp-action="CheckCart" asp-route-idCustomer="@item.Id">checkCart</a>
                    <a class="btn btn-detail" asp-action="ShowOrders" asp-route-idCustomer="@item.Id">ListOrderan</a>
                </td>
                <td>@item.Id</td>
                <td>@item.CompanyName</td>
                <td>@item.ContactPerson</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.TotalProduct</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total data product : @ViewBag.TotalProduct</td>
            <td colspan="9">

                @* @for (int i = 1; i <= ViewBag.totalData; i++)
                {
                <a class="btn" asp-action="Index" asp-route-page="@i" asp-route-searchName="@Model.SearchName"
                asp-route-SearchSuppllier="@Model.SearchSuppllier" asp-route-SearchCategory="@Model.SearchCategory">@i</a>
                }*@
            </td>
        </tr>
    </tfoot>
</table>


